* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', cursive;
}


body {

}
.container {
    max-width: 1260px;
    margin: auto;
}
section {
    padding-top: 30px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
input[type=button] {
    border: none;
    margin: 30px;
    font-size: 18px;
    padding-top: 100px;
    font-weight: bold;
    padding: 0 20px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, red, white);
}

input[type=button]:hover {
    background-image: linear-gradient(to bottom right, white, red);
    cursor: pointer;
}

/* ===   HEADER   === */

header {
    height: 270px;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: auto 250%;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.logo {
    border-radius: 50%;
    background-image: url("../img/logo.png");
    background-size: cover;
    position: absolute;
    top: 190px;
    left: 5%;
    height: 148px;
    width: 148px;
}

.social-wrap {
    width: 100%;
}

.social {
    width: 100%;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

.social a {
    margin: 5px;
    background-color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.social-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.fb {
    background-image: url("../svg/facebook-logo.svg");
}
.vk {
    background-image: url("../svg/vk-social-network-logo.svg");
}
.in {
    background-image: url("../svg/instagram-logo.svg");
}
.tw {
    background-image: url("../svg/twitter-logo-silhouette.svg");
}
.yt {
    background-image: url("../svg/youtube-logo.svg");
}

.social a:hover {
    box-shadow: 0 0 20px white;
}

/* ===   MAIN   === */
main {
    /* border: 2px solid red; */
}


/* ===  CONTENT  === */
.content {
    justify-content: center;
    text-align: center;
}
.money-transfer {
    height: 300px;    
}



/* ===   REVIEWS   === */
.reviews {
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(rgb(240, 239, 239), white);
}

.reviews-inner {
    display: flex;
    flex-wrap: wrap;
}

.review {
    width: 320px;
    height: 200px;
    margin: auto;
    padding: 20px;
}

.review-preview {
    background-position: center;
    background-size: 115% 115%;
    width: 200px;
    height: 100px;
    margin: auto;
}
.review-preview img {
    width: 220px;
    height: 110px;
}
a.review {
    padding: 0;
    border: none;
}

 /* ===   FOOTER   === */
 footer {
     padding: 10px;
     background-image: linear-gradient(rgb(240, 239, 239), white);
}

.footer-wrap {
    display: flex;
     justify-content: space-between;

}
.footer-social {
    display: flex;
    justify-content: flex-end;
}

.footer-social a {
    margin: 5px;
    background-color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.footer-social a:hover {
    box-shadow: 0 0 20px red;
}
.footer-social {
    justify-content: center;
    align-self: center;
}
.owner {
    text-align: center;
}
.credits {
    text-align: center;
    align-self: flex-end;
    font-size: 8px;
}
.author {
    text-align: center;
}

@media (max-width: 640px) {
    header {
        height: 140px;
        background-image: url("../img/background.jpg");
        background-position: center;
        background-size: auto 250%;
        margin-bottom: 50px;
    }
    .social {
        position: relative;
        top: 60px;
        justify-content: center;
    }
    .logo {
        display: none;
    }
    .footer-wrap {
        flex-direction: column;
    }
    .footer-social {
        order: -1;
    }
}


.testdiv {
    width: 100px;
    height: 100px;
    background-color: red;
}
/* 

 * {
    border: 1px solid green;
}  */
