* {
    box-sizing: border-box;
}
html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Chettan', cursive;
}
header{
    height: 270px;
    width: 100%;
    background-image: url("../img/background.png");
    background-position: center;
    /* border: 1px solid black; */
}
main{
    /* border: 1px solid red; */
    /* padding: 50px; */
}
footer{
    border: 1px solid green;
}
iframe{
    width: 280px;
    height: 160px;
}
input{
    margin: 30px;
}
button{
    margin: 50px;
}
section{
    padding: 50px;
}
.logo{
    height: 148px;
    width: 148px;
    border-radius: 50%;
    background-image: url("../img/logo.png");
    position: absolute;
    top: 190px;
    left: 50px;
}
.mainform{
    width: 100%;
    background-color: rgb(246, 231, 231);
    margin-left: 0px;
}
.content{
    background-color: rgb(204, 202, 202);
}


